---
import { storyblokEditable } from "@storyblok/astro";
import Headline from "../components/Headline.astro";
const { blok } = Astro.props;
---

<section {...storyblokEditable(blok)} class="w-[96%] mx-auto">
  <div class="lg:flex border-b border-colBorder justify-between items-center">
    <Headline>ABOUT ME</Headline>
    <p class="lg:border border-colBorder py-1 lg:px-2 rounded-full m-0">{blok.tagline}</p>
  </div>
  <div class="my-8 flex flex-col lg:flex-row items-center">
    <div class="w-full lg:w-3/5 space-y-3 lg:text-justify">
      <p>{blok.para1}</p>
      <p>{blok.para2}</p>
      <p>{blok.para3}</p>
    </div>
  </div>
</section>
