---
import { storyblokEditable } from "@storyblok/astro";
import Headline from "../components/Headline.astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

const { blok } = Astro.props;
const year = new Date().getFullYear();
---

<section {...storyblokEditable(blok)} class="w-[96%] mx-auto border-colBorder">
  <div class="lg:flex border-b border-colBorder justify-between items-center">
    <Headline class="lg:text-[4vw] font-medium lg:font-normal m-0">CONTACT</Headline>
    <p class="lg:border border-colBorder py-1 lg:px-2 rounded-full m-0">{blok.tagline}</p>
  </div>
  <div class="flex flex-col lg:flex-row justify-center">
    {
      blok.container?.map((blok) => {
        return <StoryblokComponent blok={blok} />;
      })
    }
  </div>
  <p class="text-center my-8 text-sm">{year} &copy; SadiaAfrinSweety. All Rights Reserved.</p>
</section>
