---
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import Headline from "../components/Headline.astro";

const { blok } = Astro.props;
---

<section {...storyblokEditable(blok)} class="w-[96%] mx-auto">
  <div class="lg:flex border-b border-third justify-between items-center">
    <Headline class="lg:text-[4vw] font-medium lg:font-normal m-0">PROJECT</Headline>
    <p class="lg:border border-third py-1 lg:px-2 rounded-full m-0">{blok.headline}</p>
  </div>

  <div class="grid md:grid-cols-2 lg:grid-cols-3 py-12">
    {
      blok.container?.map((blok, i) => {
        return <StoryblokComponent blok={blok} counter={i} />;
      })
    }
  </div>
</section>
