---
import { storyblokEditable } from "@storyblok/astro";

const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)} class="border-b border-black">
  <div
    class="tab select-none py-9 flex gap-x-8 justify-between items-center cursor-pointer hover:bg-neutral-100 px-8"
  >
    <div>
      <h2 class="text-2xl">{blok.name}</h2>
    </div>
    <button class="toggle bg-black w-8 h-8 rounded-full text-white text-2xl">+</button>
  </div>
</div>

<style></style>

<script></script>
